<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>对象测试</div>
  </body>
  <script>
    const obj = {
      id: '1',
      name: '小维',
    }
    const temp1 = []
    const lucky = () => {
      Object.keys(obj).forEach((key) => {
        console.log(obj[key])
        temp1.push(obj[key])
      })
    }
    const temp2 = Object.values(obj)
    lucky()
    //下面2个打印都是一样的，value合集的数组
    console.log(temp1) //['1', '小维']
    console.log(temp2) //['1', '小维']
    //传入字符串or数组都是返回索引
    const str = 'abcde'
    const arr = ['a', 'b', 'c', 'd', 'e']
    console.log(Object.keys(arr)) //[0,1,2,3,4]
    console.log(Object.keys(str)) //[0,1,2,3,4]
    //可深浅拷贝 Object.assign(target, source_1, ···)
    let target = { name: '小艾 ' }
    let source = { age: 20 } //就一层对象是深拷贝,如果里面还有{},那么就是浅拷贝
    let obj1 = Object.assign(target, source)
    console.log(source) //{ age: 20}
    console.log(obj1) //{name: '小艾 ', age: 20}
    source.name = '小维'
    let obj2 = Object.assign(target, source) // 如果目标对象和源对象有同名属性，则后面的属性会覆盖前面的属性
    console.log(obj2) //{name: '小维', age: 20}
    console.log(obj1) //{name: '小维', age: 20}
    console.log(target) //{name: '小维', age: 20}
    //深拷贝
    let deepClone = JSON.parse(JSON.stringify(target))
    target.name = '小羊'
    console.log(deepClone) //{name: '小维', age: 20}
    deepClone.name = '小明'
    console.log(target) //{name: '小羊', age: 20};

    //将对象转为数组格式
    const obj3 = {
      name: 'LUCKY',
      age: 20,
    }
    const arrLucky = Object.entries(obj3)
    console.log(arrLucky) //[['name', 'LUCKY'], ['age', 20]]
    //将上面这种转对象 适合将 Map 结构转为对象
    const obj4 = Object.fromEntries(arrLucky)
    console.log(obj4) //{name: 'LUCKY', age: 20}
    //删除属性
    delete obj3.name
    console.log(obj3) //{age: 20}
    let { name, ...params } = target //除了name属性以外的target对象中的所有其他属性
    console.log(params) //{age: 20}
    //Object.assign 测试值变化
    const objN = {
      name: '坤',
      age: 24,
      info: {
        test: 'zz',
      },
    }
    const test = {
      kun: 'ngm',
    }
    const newObjN = Object.assign(test, objN)
    objN.age = 25
    test.age = 26
    test.info.test = 'NN'
    console.log(objN, newObjN, test) //发现age无法影响objN的值
    console.log(objN, newObjN, test) //发现info里的test影响objN的值

    const original = { a: 1, b: 2, info: { name: '小维' }, arr: [1, 2, 3] }

    const shallowCopy = { ...original }
    // shallowCopy.arr = [3, 5] //不触发,引用地址变化
    shallowCopy.arr[0] = 34 //这样才会触发浅拷贝
    console.log(shallowCopy, original)
  </script>
</html>
