<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>3D立方体</title>
		<script src="three.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
	</body>
	<script type="text/javascript">
		//1. 创建场景
		var scene = new THREE.Scene();
		//2. 创建相机
		var camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000);
		//2.1 可以适当调整相机位置
		camera.position.z = 6;
		
		
		
		//3. 创建立方体
		var geometry = new THREE.BoxGeometry(1, 1, 1);
		//3.1 创建材质
		var material = new THREE.MeshBasicMaterial({
			color: 0x00CE47
		})
		//3.2 创建网格 包含立方体与立方体上的材质
		var cube = new THREE.Mesh(geometry, material);
		scene.add(cube)
		
		
		//4. 创建渲染器
		var renderer = new THREE.WebGLRenderer();
		//4.1 设置渲染器大小
		renderer.setSize(window.innerWidth, window.innerHeight);
		//4.2 将渲染器添加到页面中
		document.body.appendChild(renderer.domElement);
		
		//4.3 渲染循环、动画循环
		var animate = function(){
			requestAnimationFrame(animate);
			
			cube.rotation.x += 0.01;
			cube.rotation.y += 0.01;
			
			renderer.render(scene, camera);
		}
		animate();
	</script>
</html>

